body {
    margin: 0px;
    background-color: #f0f8ff;
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 45px;
    padding-left: 8px;
    background-color: #ffdaba;
}

.navbar-item {
    margin: 8px;
} 

.navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, serif;
}

.navbar div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 28px;
    width: 28px;
    margin: 8px 2px 8px 8px;
}

.navbar p {
    margin: 8px 8px 8px 2px;
    font-family: Roboto, serif;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
}

form > * {
    margin-top: 32px;
    font-family: Roboto, serif;
}

.input-container > input {
    width: 100%;
}

.input-container > select {
    width: 100%;
    height: 24px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container > button {
    margin: 16px;
    width: 72px;
    height: 32px;
}

ul {
    padding-inline-start: 0px;
}

.list-item {
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 6px;
    font-family: Roboto, serif;
}

.list-item-title {
    margin: 8px;
    align-self: end;
    font-size: xx-large;
}

.list-item-description {
    margin: 8px;
    align-self: start;
    color: dimgray;
    font-size: larger;
}

.list-item-category {
    margin: 8px;
    align-self: end;
    justify-self: end;
    font-size: large;
}